################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/MultithreadTest/packages
/MultithreadTest/.vs/MultithreadTest/v15
/MultithreadTest/MultithreadTest/obj/Debug
/MultithreadTest/MultithreadTest/bin/Debug
